@model RankSearch.Models.CompanyInfo

@{
    ViewBag.Title = "Rank Result";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <h3 class="text-center">Rank Result</h3>
        <table class="table table-bordered">
            <tr class="info">
                <td>Google Rank</td>
            </tr>
            <tr class="text-default">
                <td>@Model.Rank</td>
            </tr>
        </table> 
    </div>
</body>
</html>
